# Constraints for reference design 's3esk_startup'.
#
# Revision C of the Spartan-3E Starter Kit.
#
# Ken Chapman - Xilinx Ltd - January 2006
#                          
# Revised 16th February 2006
#
# Period constraint for 50MHz operation
#
NET "clk" PERIOD = 20.0ns HIGH 50%;
#
# soldered 50MHz Clock.
# 
NET "clk" LOC = "C9" | IOSTANDARD = LVTTL;
#
#
# Simple LEDs 
# Require only 3.5mA. 
#
NET "W2C<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "W2C<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "W2C<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "W2C<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "W2C<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "W2C<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
NET "W2C<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;
#NET "W2C<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 4;

# ==== 6-pin header J4 ==== 
# These are shared connections with the FX2 connector 
# used to connect Speakr mod
NET "W2C<7>"  LOC = "D7" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 6 ;  

# ==== RS-232 Serial Ports (RS232) ==== 
NET "rx"  LOC = "R7"  | IOSTANDARD = LVTTL ;  
NET "tx"  LOC = "M14" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;  
#NET "RS232_DTE_RXD"  LOC = "U8"  | IOSTANDARD = LVTTL ;  
#NET "RS232_DTE_TXD"  LOC = "M13" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ; 

# ==== Pushbuttons (BTN) ==== 
#NET "BTN_EAST"  LOC = "H13" | IOSTANDARD = LVTTL  | PULLDOWN ;  
#NET "BTN_NORTH" LOC = "V4"  | IOSTANDARD = LVTTL  | PULLDOWN ;  
#NET "BTN_SOUTH" LOC = "K17" | IOSTANDARD = LVTTL  | PULLDOWN ;  
#NET "BTN_WEST"  LOC = "D18" | IOSTANDARD = LVTTL  | PULLDOWN ; 